### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [294]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [295]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [296]:
total_players = purchase_data['SN'].nunique()
total_players

576

In [297]:
player_count = pd.DataFrame({'Total Players':[total_players]})
player_count

   Total Players
0            576

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [298]:
# Unique Items
unique_items = purchase_data['Item ID'].nunique()
unique_items

179

In [300]:
# Average Price
average_price = purchase_data['Price'].mean()
average_price

3.050987179487176

In [301]:
# Number of Purchases
number_of_purchases = purchase_data['Purchase ID'].count()
number_of_purchases

780

In [302]:
# Total Revenue
total_revenue = purchase_data['Price'].sum()
total_revenue

2379.77

In [303]:
purchasing_analysis = pd.DataFrame({'Number of Unique Items':[unique_items],
                                    'Average Price ($)':[average_price],
                                   'Number of Purchases':[number_of_purchases],
                                   'Total Revenue ($)':[total_revenue]})
purchasing_analysis

,Number of Unique Items,Average Price ($),Number of Purchases,Total Revenue ($)
0,179,3.050987,780,2379.77

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [304]:
# There are duplicate SN's... we need to filter these out
unique_df = purchase_data.drop_duplicates(subset=['SN'])
unique_df['SN'].count() # This verifies our result gotten above for total players, use this dataframe to perform subsequent analysis

576

In [305]:
gender_demo = unique_df['Gender'].value_counts()
gender_demo

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [306]:
# Obtaining Percentages
male_percent = (gender_demo['Male']/gender_demo.sum()) * 100
female_percent = (gender_demo['Female']/gender_demo.sum()) * 100
other_percent = 100 - male_percent - female_percent

In [307]:
gender_demo_df = pd.DataFrame(gender_demo)
gender_demo_df['Percentage'] = [male_percent,female_percent,other_percent]
gender_demo_df

                       Gender  Percentage
Male                      484   84.027778
Female                     81   14.062500
Other / Non-Disclosed      11    1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [308]:
# Creating dataframes by gender
male_df = purchase_data[purchase_data['Gender']== "Male"]
female_df = purchase_data[purchase_data['Gender']== "Female"]
other_df = purchase_data[purchase_data['Gender']== "Other / Non-Disclosed"]

In [309]:
# Performing Calculations

# Purchase Count
male_purchase_count = male_df['Purchase ID'].count()
female_purchase_count = female_df['Purchase ID'].count()
other_purchase_count = other_df['Purchase ID'].count()

purchase_count = [male_purchase_count,female_purchase_count,other_purchase_count]

In [310]:
# Average Purchase Prices
male_avg_price = male_df['Price'].mean()
female_avg_price = female_df['Price'].mean()
other_avg_price = other_df['Price'].mean()

avg_purchase_price = [male_avg_price,female_avg_price,other_avg_price]

In [311]:
# Total Purchase Value
male_total_value = male_df['Price'].sum()
female_total_value = female_df['Price'].sum()
other_total_value = other_df['Price'].sum()

total_purchase_value = [male_total_value,female_total_value,other_total_value]

In [312]:
# Average Purchase per Person (* Here, we take total purchase value / count of UNIQUE genders)

male_total_avg_person = male_total_value/gender_demo["Male"]
female_total_avg_person = female_total_value/gender_demo["Female"]
other_total_avg_person = other_total_value/gender_demo["Other / Non-Disclosed"]

avg_total_purchase_per_person = [male_total_avg_person,female_total_avg_person,other_total_avg_person]

In [313]:
# Building the dataframe
index = ['Male','Female','Others / Non-Disclosed']
data = {'Purchase Count':purchase_count, 
       'Average Purchase Price': avg_purchase_price,
       'Total Purchase Value ($)': total_purchase_value,
       'Avg Total Purchase per Person ($)': avg_total_purchase_per_person}
pd.DataFrame(data,index = index)

,Purchase Count,Average Purchase Price,Total Purchase Value ($),Avg Total Purchase per Person ($)
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Others / Non-Disclosed,15,3.346000,50.19,4.562727

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [314]:
bins = [0,9.99,14.99,19.99, 24.99, 29.99, 34.99, 39.99,100] # Need to create bins
index_age_demo = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]

df = pd.cut(unique_df["Age"],bins,labels = index_age_demo) # Remember to use unique_df as there are duplicate entries!
df # Above line creates a series of which bin each index falls into (see below)

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
773    20-24
774    10-14
775    20-24
777    20-24
778      <10
Name: Age, Length: 576, dtype: category
Categories (8, object): ['<10' < '10-14' < '15-19' < '20-24' < '25-29' < '30-34' < '35-39' < '40+']

In [315]:
total_count = df.value_counts()
total_count

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+       12
Name: Age, dtype: int64

In [316]:
# Percentage of players
percentage_age_demo = (df.value_counts().sort_index())/(df.value_counts().sum())* 100
percentage_age_demo

<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: Age, dtype: float64

In [317]:
# Building the data frame

data = {'Total Count': total_count,
       'Percentage of Players (%)': percentage_age_demo}
age_demo = pd.DataFrame(data, index=index_age_demo)

age_demo

       Total Count  Percentage of Players (%)
<10             17                   2.951389
10-14           22                   3.819444
15-19          107                  18.576389
20-24          258                  44.791667
25-29           77                  13.368056
30-34           52                   9.027778
35-39           31                   5.381944
40+             12                   2.083333

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [318]:
# Adding a new column to originial existing purchase_data dataframe so we can perform calcs on as a filter
bins = [0,9.99,14.99,19.99, 24.99, 29.99, 34.99, 39.99,100] # Need to create bins
index_age_demo = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39","40+"]

purchase_data['Age Bins'] = pd.cut(purchase_data['Age'],bins,labels = index_age_demo) # *This creates a new column specifying the age. bin!
purchase_data.head() # we can see the the purchase_data dataframe now has a new column for us to work on

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bins
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [319]:
# Purchase Count
purchase_data.groupby(['Age Bins']).count() # We can call a groupby function to filter data then call an aggregate function

          Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Bins
<10                23   23   23      23       23         23     23
10-14              28   28   28      28       28         28     28
15-19             136  136  136     136      136        136    136
20-24             365  365  365     365      365        365    365
25-29             101  101  101     101      101        101    101
30-34              73   73   73      73       73         73     73
35-39              41   41   41      41       41         41     41
40+                13   13   13      13       13         13     13

In [320]:
# We can see above that the columns are the same.. makes sense as they are counts.. so to get the purchase count we can retrieve from any column

purchase_count = purchase_data.groupby(['Age Bins']).count()['SN']
purchase_count

Age Bins
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: SN, dtype: int64

In [321]:
# Total Purchase Value
purchase_data.groupby(['Age Bins']).sum()

          Purchase ID   Age  Item ID    Price
Age Bins
<10             10009   181     2428    77.13
10-14           10114   319     2719    82.78
15-19           54859  2284    12798   412.89
20-24          139573  7971    32335  1114.06
25-29           41072  2626     9128   293.00
30-34           26254  2291     6866   214.00
35-39           16596  1505     4137   147.67
40+              5333   540     1158    38.24

In [322]:
total_purchase_value = purchase_data.groupby(['Age Bins']).sum()['Price'] # Same line as above, just fetching price column
total_purchase_value

Age Bins
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [323]:
# Average Purchase Price
avg_purchase_price = total_purchase_value/purchase_count

In [324]:
# Average Total Purchase per Person
avg_total_purchase_per_person = total_purchase_value/total_count # See above codes as to what total_count is.. it is the total count of people in those age ranges
avg_total_purchase_per_person

<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [325]:
# Building the dataframe
data = {'Purchase Count': purchase_count,
       'Total Purchase Value ($)': total_purchase_value,
       'Average Purchase Price ($)': avg_purchase_price,
       'Avg Total Purchase per Person ($)': avg_total_purchase_per_person}
age_demo = pd.DataFrame(data, index=index_age_demo)

age_demo

,Purchase Count,Total Purchase Value ($),Average Purchase Price ($),Avg Total Purchase per Person ($)
<10,23,77.13,3.353478,4.537059
10-14,28,82.78,2.956429,3.762727
15-19,136,412.89,3.035956,3.858785
20-24,365,1114.06,3.052219,4.318062
25-29,101,293.00,2.900990,3.805195
30-34,73,214.00,2.931507,4.115385
35-39,41,147.67,3.601707,4.763548
40+,13,38.24,2.941538,3.186667

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [343]:
purchase_data[purchase_data['SN'] == 'Lisosia93']

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bins
74,74,Lisosia93,25,Male,89,"Blazefury, Protector of Delusions",4.64,25-29
120,120,Lisosia93,25,Male,24,Warped Fetish,3.81,25-29
224,224,Lisosia93,25,Male,157,"Spada, Etcher of Hatred",4.80,25-29
603,603,Lisosia93,25,Male,132,Persuasion,3.19,25-29
609,609,Lisosia93,25,Male,40,Second Chance,2.52,25-29

In [349]:
dataset = purchase_data[purchase_data['SN'].isin(['Lisosia93','Idastidru52','Chamjask73','Iral74','Iskadarya95'])]
dataset

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Bins
74,74,Lisosia93,25,Male,89,"Blazefury, Protector of Delusions",4.64,25-29
120,120,Lisosia93,25,Male,24,Warped Fetish,3.81,25-29
128,128,Iral74,21,Male,58,"Freak's Bite, Favor of Holy Might",4.14,20-24
148,148,Iskadarya95,20,Male,148,"Warmonger, Gift of Suffering's End",4.03,20-24
222,222,Chamjask73,22,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,20-24
224,224,Lisosia93,25,Male,157,"Spada, Etcher of Hatred",4.80,25-29
247,247,Iskadarya95,20,Male,82,Nirvana,4.90,20-24
290,290,Idastidru52,24,Male,147,"Hellreaver, Heirloom of Inception",4.93,20-24
318,318,Iskadarya95,20,Male,91,Celeste,4.17,20-24
490,490,Idastidru52,24,Male,148,"Warmonger, Gift of Suffering's End",4.03,20-24
520,520,Chamjask73,22,Female,109,"Downfall, Scalpel Of The Emperor",4.76,20-24
543,543,Idastidru52,24,Male,121,Massacre,1.60,20-24
564,564,Chamjask73,22,Female,52,Hatred,4.84,20-24
603,603,Lisosia93,25,Male,132,Persuasion,3.19,25-29
609,609,Lisosia93,25,Male,40,Second Chance,2.52,25-29
623,623,Iral74,21,Male,114,Yearning Mageblade,3.82,20-24
676,676,Idastidru52,24,Male,111,Misery's End,4.89,20-24
758,758,Iral74,21,Male,182,Toothpick,4.03,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24

In [355]:
# Purchase Count
purchase_count = dataset.groupby('SN').count()['Purchase ID']

In [358]:
# Average Purchase Price
avg_purchase_price = dataset.groupby('SN').mean()['Price']
avg_purchase_price

SN
Chamjask73     4.610000
Idastidru52    3.862500
Iral74         3.405000
Iskadarya95    4.366667
Lisosia93      3.792000
Name: Price, dtype: float64

In [360]:
# Total Purchase Price
total_purchase_price = dataset.groupby('SN').sum()['Price']
total_purchase_price

SN
Chamjask73     13.83
Idastidru52    15.45
Iral74         13.62
Iskadarya95    13.10
Lisosia93      18.96
Name: Price, dtype: float64

In [361]:
# Building Dataframe
index_SN = ['Lisosia93','Idastidru52','Chamjask73','Iral74','Iskadarya95']
data = {'Purchase Count': purchase_count,
        'Average Purchase Price': avg_purchase_price,
        'Total Purchase Price': total_purchase_price
       }
top_spenders = pd.DataFrame(data, index=index_SN)
top_spenders

             Purchase Count  Average Purchase Price  Total Purchase Price
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [406]:
top_five = purchase_data.groupby('Item Name').count().sort_values('Purchase ID',ascending = False).head()
top_five

,Purchase ID,SN,Age,Gender,Item ID,Price,Age Bins
Item Name,,,,,,,
Final Critic,13,13,13,13,13,13,13
"Oathbreaker, Last Hope of the Breaking Storm",12,12,12,12,12,12,12
Persuasion,9,9,9,9,9,9,9
Nirvana,9,9,9,9,9,9,9
"Extraction, Quickblade Of Trembling Hands",9,9,9,9,9,9,9

In [407]:
# Generating Index
index_top_five = top_five.index.values
index_top_five

array(['Final Critic', 'Oathbreaker, Last Hope of the Breaking Storm',
       'Persuasion', 'Nirvana',
       'Extraction, Quickblade Of Trembling Hands'], dtype=object)

In [410]:
# Purchase Count
purchase_count = top_five['Purchase ID']
purchase_count

Item Name
Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Persuasion                                       9
Nirvana                                          9
Extraction, Quickblade Of Trembling Hands        9
Name: Purchase ID, dtype: int64

In [417]:
# Total Purchase Value
dataset = purchase_data[purchase_data['Item Name'].isin(index_top_five)]
total_purchase_value = dataset.groupby('Item Name').sum()['Price']

In [462]:
# Item Price (Mean prices)
item_price = dataset.groupby('Item Name').mean()['Price']
item_price

Item Name
Extraction, Quickblade Of Trembling Hands       3.530000
Final Critic                                    4.614615
Nirvana                                         4.900000
Oathbreaker, Last Hope of the Breaking Storm    4.230000
Persuasion                                      3.221111
Name: Price, dtype: float64

In [463]:
# Building the dataframe
data = {'Purchase Count': purchase_count,
        'Total Purchase Value': total_purchase_value,
       'Item Price': item_price}
popular_items = pd.DataFrame(data, index=index_top_five)
popular_items

,Purchase Count,Total Purchase Value,Item Price
Final Critic,13,59.99,4.614615
"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,4.230000
Persuasion,9,28.99,3.221111
Nirvana,9,44.10,4.900000
"Extraction, Quickblade Of Trembling Hands",9,31.77,3.530000

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [484]:

purchase_data
most_profitable = purchase_data.groupby('Item Name').sum()['Price'].sort_values(ascending = False).head()
most_profitable

Item Name
Final Critic                                    59.99
Oathbreaker, Last Hope of the Breaking Storm    50.76
Nirvana                                         44.10
Fiery Glass Crusader                            41.22
Singed Scalpel                                  34.80
Name: Price, dtype: float64

In [482]:
# Generating Index
index_most_profitable = most_profitable.index.values
index_most_profitable

array(['Final Critic', 'Oathbreaker, Last Hope of the Breaking Storm',
       'Nirvana', 'Fiery Glass Crusader', 'Singed Scalpel'], dtype=object)

In [488]:
# Purchase Count
dataset = purchase_data[purchase_data['Item Name'].isin(index_most_profitable)]
purchase_count = dataset.groupby('Item Name').count()['Purchase ID']

In [491]:
# Total Purchase Value
total_purchase_value = dataset.groupby('Item Name').sum()['Price']
total_purchase_value

Item Name
Fiery Glass Crusader                            41.22
Final Critic                                    59.99
Nirvana                                         44.10
Oathbreaker, Last Hope of the Breaking Storm    50.76
Singed Scalpel                                  34.80
Name: Price, dtype: float64

In [493]:
# Item Price Mean
mean_price = dataset.groupby('Item Name').mean()['Price']
mean_price

Item Name
Fiery Glass Crusader                            4.580000
Final Critic                                    4.614615
Nirvana                                         4.900000
Oathbreaker, Last Hope of the Breaking Storm    4.230000
Singed Scalpel                                  4.350000
Name: Price, dtype: float64

In [494]:
# Building the dataframe
data = {'Purchase Count': purchase_count,
        'Total Purchase Value': total_purchase_value,
       'Item Price': mean_price}
most_profitable = pd.DataFrame(data, index=index_most_profitable)
most_profitable

,Purchase Count,Total Purchase Value,Item Price
Final Critic,13,59.99,4.614615
"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,4.230000
Nirvana,9,44.10,4.900000
Fiery Glass Crusader,9,41.22,4.580000
Singed Scalpel,8,34.80,4.350000

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80